@charset "utf-8";
#ej_category_box{
	padding: 0px 100px;
	text-align: center;
}
.ej_categoryimg{
width:50px;
/* border: 1px solid silver;
border-radius: 100px; */
margin: 10px;
padding: 5px; 
}

 .ej_category{
	display: inline-block;
	/* margin-right: 100px; */
	padding-right:50px;
	/* border: 1px solid silver;
border-radius: 100px; */
} 
.ej_category_border
{
	display: inline-block;
	border: 1px solid silver;
border-radius: 100px;
}
/*카테고리 이름글자  */
.ej_category a{
	color: black;
	font-size: medium;
	font-weight: bold;
}
/* 정렬버튼 */
.ej_btn.order{
border: 1px black;
padding: 5px 15px; 
background-color: rgba( 213, 213, 213, 0.3 );
height:40px;
font-weight : 600;
font-size : 14px;
color: black;
/* float:right;  */
	
}

.ej_grid{
display: inline-block;
width: 100px;
height: 70px;
}
/*좋아요순, 최신순 버튼   */
/* .ej_selectorder{
	border: 1px solid silver;
	width: 30px;
	padding:5px 20px;
	background-color: silver;
	border-radius: 10px;
	color: black;
	text-decoration: none;
}
ej_selectorder:hover
{
	background-color: black;
			transition: all ease 2s 0s;
}*/

.ej_category a:hover
{
		text-decoration: none;
} 
/*버튼 오른쪽 정렬  */
#ej_right{
	margin-left: 1000px;
}
.btn.btn-default{
	margin-right: 6px;
}
/*솔드아웃표시 박스*/
.ej_soldout{
	/* border: 1px solid white; */
	background-color: silver;
	width:60px;
	padding-left: 7px;
}

/* 메인공통 */

/* Main Bunner 슬라이더(자동 좌우적용) */
body{
	margin : opx auto;
	padding: 0; 
} 

.hs_us_home_mainBanner{
	width:100%;
	margin-top: -10px;
	height: 400px;/* 원래 400px이엇음 */
}

.hs_us_home_mainBannerbox{
	position:relative;
	overflow: hidden;
	height: 400px;
	width: 100%;
	background-color: pink
}
.hs_us_home_mainBannerslide{
	width:100%; /* 이미지 크기 * 이미지 개수 + 여유 */
	display: inline; 
    /* position:absolute;  이거 풀면 이미지 넘어가면서 배경색 같이나옴 */
}

.hs_us_home_mainBannerslide>a>img{
	width:100%;
	height : 400px;
	position: absolute;
	transition: all 2s;
}  
/* Main Bunner 슬라이더(자동 좌우적용) */

/* 신규레슨 */
/* 슬라이더 묶는 박스 */
.hs_us_newlesson_container {
    max-width: 100%;
    /* margin-bottom: 30px; */
}
/* 슬라이더 안 a tag에 포함된 모든것에 공통적으로 적용  */
.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items a {
    display: inline-block;
    notice the comments between inline-block items margin-right: 10px;
    width: 23%;
     margin: 12.5px;
    /*text-align: center;*/
    text-decoration: none;
}
/* 썸네일 */
.hs_storecontent_cg_img{
	width: 100%;
	/* padding: 15px 0px; */
    /* height:200px; */
}
/* p tag 공통적용 */
.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items a p {
    margin: 0px;
    color: rgb(53, 54, 58);
    position: relative;
    /* text-align: center; */
}
/* 카테고리 및 시니어 닉네임(첫번째 p를 선택하는 타입넣어줌) */
.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items a p:first-of-type{
	font-size: 10px;
	font-weight: 900;
	color: #999;
	margin:10px 0px 0px;
}
/* 2번째 P 타이틀 */
.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items a p:nth-of-type(2){
	font-size:17px;
	font-weight:600;
	text-transform:capitalize; /* 영어단어 첫글자를 대문자로 바꿔주는거 */
	margin:10px 0px;
	transition:all .3s ease 0s
}
/* 3번째 p 세일된가격가격  */
.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items a p:nth-of-type(3){
	font-size:16px;
	font-weight:700;
	transition:all .3s
}
/* 이전가격 */
.hs_us_newlesson_BFcost{
	color:#999;
	font-size:16px;
	font-weight:500;
	text-decoration:line-through;
	margin-left:7px;
}
/* 4번째 p 좋아요 수  */
.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items a p:nth-of-type(4){
	font-size: 12px;
	font-weight:400;
}
/* 썸네일 안데 장바구니 좋아요 아이콘 */	
/* .hs_us_newlesson_social {
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	bottom:100px;
	right:13px;
	z-index:1
	}
.hs_us_newlesson_social li{
	opacity:0;
	transform:translateY(3px);
	transition:all .5s ease 0s
	}
.hs_us_newlesson_items:hover .hs_us_newlesson_social li{
	margin:0 0 10px;
	opacity:1;
	transform:translateY(0)
	}
.hs_us_newlesson_items:hover .hs_us_newlesson_social li:nth-child(1){
	transition-delay:.2s  트랜지션 지연시간(애니메이션을 지연시킬 때)
	}
.hs_us_newlesson_items:hover .hs_us_newlesson_social li:nth-child(2){
	transition-delay:.4s 트랜지션 지연시간(애니메이션을 지연시킬 때)
	}
썸네일 안데 장바구니 좋아요 아이콘 위치	
.hs_us_newlesson_social li a{
	color:white;
	font-size:17px;
	line-height:40px;
	text-align:center;
	height:40px;
	width:40px;
	border:1px solid white;
	display:block;
	transition:all .5s ease-in-out
	}
.hs_us_newlesson_social li a:hover{
	color:rgb(224, 62, 82);
	border-color:rgb(224, 62, 82)
	} */
/* 썸네일 안데 장바구니 좋아요 아이콘 위치 */	

.hs_us_newlesson_g-scrolling-carousel {
    position: relative;
}

.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.hs_us_newlesson_g-scrolling-carousel .hs_us_newlesson_items::-webkit-scrollbar {
    display: none;
}

.jc-right,
/*동그라미*/
.jc-left {
    color: #757575;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.94;

}

.jc-right {
    /*위치조절*/
    right: 0px;
}

.jc-left {
    left: -40px;
}

.jc-right:hover,
.jc-left:hover {
    opacity: 0.98;
}

.jc-right svg,
/*화살표*/
.jc-left svg {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 10px;
    top: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    fill: #222;
}

.jc-right:hover svg,
.jc-left:hover svg {
    fill: rgb(0, 153, 255);
}

@media (pointer: coarse) {

    .jc-right,
    .jc-left {
        display: none !important;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
.hs_us_newlesson_content{
	display: inline-block;
}
/* 신규레슨 */

/* 스토어 신규 상품 */
/* 썸네일 _ 설명 묶은 DIV */
.hs_user_store_newproduct{
	position:relative;
	z-index:1;
	}
/* 썸네일 a tag*/
.hs_user_store_newproduct_img a{
	display:block
	}
/* 썸네일  img */
.hs_user_store_newproduct_img img{
	width:100%;
	/* height:285px; */
	}
	/*썸네일  div  */
/* 	.hs_user_store_newproduct_img2{
	height:300px;
	} */
/* 썸네일 안데 장바구니 좋아요 아이콘 */	
.hs_user_store_newproduct_social {
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	bottom:138px;/*난 120햇슴 */
	right:13px;
	z-index:1
	}
.hs_user_store_newproduct_social li{
	opacity:0;
	transform:translateY(3px);
	transition:all .5s ease 0s
	}
.hs_user_store_newproduct:hover .hs_user_store_newproduct_social li{
	margin:0 0 10px;
	opacity:1;
	transform:translateY(0)
	}
.hs_user_store_newproduct:hover .hs_user_store_newproduct_social li:nth-child(1){
	transition-delay:.2s  /* 트랜지션 지연시간(애니메이션을 지연시킬 때) */
	}
.hs_user_store_newproduct:hover .hs_user_store_newproduct_social li:nth-child(2){
	transition-delay:.4s /* 트랜지션 지연시간(애니메이션을 지연시킬 때) */
	}
/* 썸네일 안데 장바구니 좋아요 아이콘 위치 */	
.hs_user_store_newproduct_social li div{
	color:white;
	font-size:17px;
	line-height:40px;
	text-align:center;
	height:40px;
	width:40px;
	border:1px solid white;
	display:block;
	transition:all .5s ease-in-out;
	background-color:rgba( 213, 213, 213, 0.5 );
	}
	
	/* 좋아요 hover시 색바뀜 */
.hs_user_store_newproduct_social li a div:hover{
	color:rgb(224, 62, 82);
	border-color:rgb(224, 62, 82)
	}

/* 세일% 라벨 */		
.hs_user_store_newproduct_label{
	display:block;
	width : 38px;
	height : 38px;
	padding: 8px;
	color:#fff;
	background-color:FF4141;
	position:absolute;
	top:10px;
	left : 10px;
	/* right:10px; */
	/* padding:4px 15px 4px 30px; */
	/* -webkit-clip-path:polygon(34% 0,100% 0,100% 100%,0 100%);
	clip-path:polygon(34% 0,100% 0,100% 100%,0 100%); */
	-webkit-clip-path:circle(50% at 50% 50%);
	clip-path:circle(50% at 50% 50%);
	
	}
/* 상품 설명 */	
.hs_user_store_newproduct_content{
	padding:10px 0 0
	}
/* 상품카테고리 */	
.hs_user_store_newproduct_category{
	font-size: 10px;
	font-weight: 900;
	color: #999;
}	
/* 상품명 */
.hs_user_store_newprodct_title{
	font-size:17px;
	font-weight:600;
	text-transform:capitalize; /* 영어단어 첫글자를 대문자로 바꿔주는거 */
	margin:10px 0px;
	transition:all .3s ease 0s
	}
.hs_user_store_newprodct_title a{
	color: rgb(53, 54, 58);
	}
/* 상품명 상품가격 사이 라인 */	
.hs_user_store_newproduct_line{
	width: 100%;
	height: 1px;
	background-color: rgba(220,220,220,0.5);
	margin: 5px 0px;
}
/* 상품가격(이전 / 세일된 가격)  */
.hs_user_store_newprodct_cost{
	color: rgb(53, 54, 58);
	font-size:16px;
	font-weight:700;
	/* text-align:left; */
	transition:all .3s
	}
/* 이전 상품가격 */	
.hs_user_store_newprodct_BFcost{
	color:#999;
	font-size:16px;
	font-weight:500;
	text-decoration:line-through;
	margin-left:7px;
	display:inline-block
	}
/* 좋아요수  */
.hs_user_store_newprodct_likenum_box{
	margin:5px 0px 30px;;
}
.hs_user_store_newprodct_likenum{
	font-size: 12px;
	font-weight:400;
}	
.hs_user_store_newprodct_likenum i{
	color: rgb(224, 62, 82);

}
@media only screen and (max-width:990px){
	.product-grid8{margin-bottom:30px
	}
}
	
