@charset "utf-8";

.eventinsertbtn{
	 float: right;
	 margin-right:50px;
	 margin-bottom: 100px;
}
.event_line{
	width: 100%;
    height: 1px;
    background-color: rgb(224, 224, 224);
    margin: 20px 0px;
}
.eventdiv1{
	width : 100%;
	height : 180px;
	display: inline-block;
}
.eventimg{
	width : 25%;
	float: left;
	margin-left:100px;
}
.eventimg>img{
	width: 100%;
	height: 180px;
}
.eventgroup{
	font-weight: bold;
	
}
.event-head{
	font-size: 20px;
	font-weight: bold;
}
.eventtext{
	width: 65%;
	float: right;
	list-style: none;
	
	
} 

.hmeventbtn{
	border: 1px transparent;
	padding: 7px 20px; 
	border-radius : 3px;
	background-color: rgba(53, 54, 58 , 0.5 );
	font-weight : 600;
	font-size : 14px;
	color: white;
	
}
.eventinsertbtn{
	border: 1px transparent;
	padding: 7px 20px; 
	border-radius : 3px;
	background-color: rgba(53, 54, 58 , 0.5 );
	font-weight : 600;
	font-size : 14px;
	color: white;
	font-size: 16px;
}
