@charset "utf-8";
th{
	text-align: center;
}
td{
	text-align: center;
}


th:nth-of-type(5){
	display: none;
}
th:nth-of-type(6){
	display: none;
}
th:nth-of-type(7){
	display: none;
}
th:nth-of-type(8){
	display: none;
}
th:nth-of-type(11){
	display: none;
}
td:nth-of-type(5){
	display: none;
}
td:nth-of-type(6){
	display: none;
}
td:nth-of-type(7){
	display: none;
}
td:nth-of-type(8){
	display: none;
}
td:nth-of-type(10){
	display: none;
}
td:nth-of-type(11){
	display: none;
}
td:nth-of-type(12){
	display:none;
}