@charset "utf-8";
.eventdetailmain{
	border :2px solid rgb(224,224,224);	
	width:80%;
	margin : 20px auto;
	padding : 20px 0px 0px;

}

.eventdetailline{
    width: 100%;
    height: 1px;
    background-color: rgba(2,7,21,0.6);
    margin: 20px 0px;
}
.eventdetailgroup{
	border: 2px solid rgb(224,224,224);
	border-radius: 20px;
	width:100px;
	text-align: center;
/* 	margin:20px; */
	margin-left:20px;
	display:inline-block;
}
.event_title{
	display:inline-block;
	font-size: 25px;
	font-weight: bold;
}
.event_period{
	display:inline-block;
	float:right;
	margin-right: 10px;
	color: rgb(140,140,140);
	font-weight: bold;

}
.event_period p{
	float:right;
}
.eventthumbnail{
	border-top : 2px solid rgb(224,224,224);
	text-align: center;
	padding: 20px;
}
.eventthumbnail p{
	font-size: 1em;
	font-weight: bold;
	color : rgb(140,140,140);
}
.event_content{
	text-align: center;
}
.eventdetailbtn{
	width:80%;
	text-align:right;
	margin: 0px auto;
}
.eventdetailupdatebtn{
	border: 1px transparent;
	padding: 7px 20px; 
	border-radius : 3px;
	background-color: rgba(53, 54, 58 , 0.5 );
	font-weight : 600;
	font-size : 14px;
	color: white;
}
.eventdetaildeletebtn{
	border: 1px transparent;
	padding: 7px 20px; 
	border-radius : 3px;
	background-color: rgb(224, 62, 82);
	font-weight : 600;
	font-size : 14px;
	color: white;
}
.hmeventdetailbtn{
	border: 1px transparent;
	padding: 7px 20px; 
	border-radius : 3px;
	background-color: rgba(53, 54, 58 , 0.5 );
	font-weight : 600;
	font-size : 14px;
	color: white;
	
}
