@charset "utf-8";

.usfaqmain{
	width: 80%;
	margin: 40px auto;
	color: rgb(53, 54, 58);	
	
}

.hmfaqinsertbtn{
	margin:30px 10px 0px 0px;
	border: 1px transparent;
	padding: 5px 15px;
	border-radius : 3px;
	background-color: rgba(53, 54, 58 , 0.5 );
	font-weight : 600;
	font-size : 14px;
	color: white;	
	width:100px;
}
.hmfaqinsertbtn2{
	margin-top:30px;
	border: 1px transparent;
	padding: 5px 15px;
	border-radius : 3px;
	background-color: rgb(224, 62, 82);
	font-weight : 600;
	font-size : 14px;
	color: white;	
	width:100px;
	
}
.hmfaqinsertbtndiv{
	
	text-align: center;
}