.hm_event_header h2{
	margin-top:40px;
	text-align: center;
	
}

.hm_event_total{
	
	width:80%;
	margin : auto;
} 


.hm_event_thumbnailmain{
	text-align: center;
}
.hm_event_thumbnail{
	width: 99%;
	margin: auto;
	margin-bottom: 40px;
}
button.hmeventbtn{
border: 1px transparent;
padding: 5px 15px; 
border-radius : 3px;
background-color: rgba(53, 54, 58 , 0.5 );
font-weight : 600;
font-size : 14px;
color: white;
	
	
}

