@charset "utf-8";

body {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh; */
}
.hs_footer{
	clear:both; 
	background-color:  rgb(53, 54, 58);
    height: 350px;
    color: rgba(224,224,224,0.9);
}

 .hs_footer_content{
	width: 80%;
	margin: auto;
}
.hs_footer_SNSlink{
	font: 16px Roboto, sans-serif;
	text-align: right;
}
.hs_footer_SNSlink>a {
    text-decoration: none;
    /* color: inherit; */
}

.c-icon {
    width:  36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--google:hover    { color: #dd4b39 }
.c-link--instagram:hover { color: #833ab4 }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--google:hover::after    { background: #dd4b39 }
.c-link--instagram:hover::after { background: #833ab4 }

.c-link {
    position: relative;
    color: #bbb;
}

.c-link:not(:last-of-type) {
    margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 2px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 12px);
    padding: .61em .93em;
    font-size: .875rem;
    color: white;
    border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}

.pens-link-container {
    flex-basis: 100%;
    font-size: .9rem;
    text-align: center;
}

.pens-link {
    margin-bottom: 0;
    background: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
    border: none;
}
.hs_foot_line{
	width: 100%;
    height: 1px;
    background-color: rgba(224,224,224,0.5);
    margin: 10px 0px;
}
#hs_foot_content>p{
	margin: 5px 0px;
	
}