@charset "utf-8";
/* nav 카테고리 라인 */
.hs_ad_main_asidenav_line{
	width: 100%;
    height: 1px;
    background-color: rgb(224,224,224);
    margin: 15px 0px 15px;
}
.hs_ad_main_asidenav_nav b{
	margin-left: 20px;
	font-size: 20px;
	color: rgb(53, 54, 58);
}
.hs_ad_main_asidenav_nav a{
	text-decoration : none;
	color : #757575;
	margin-left: 25px;
	font-size: 14px;
	padding: 10px;
}