@charset "utf-8";
.hs_Admin_BannerModify{
	width: 80%;
	margin: auto;
	margin-top: 40px;
	color: rgb(53, 54, 58);
}
.hs_Admin_BannerModify_Title{
	font-weight: 800;
}
.hs_ad_BannerModify_Line{
	width: 100%;
    height: 2px;
    background-color: rgb(53, 54, 58);
    margin: 20px 0px 40px;
}
.Banner_imgmodify{
	width: 100%;
	height : 500px;
	border: 1px solid rgba(53, 54, 58, 0.2);
	border-radius: 3px;
}
#hs_ad_bannerModifySubmitBtn{
	border: 1px transparent;
	padding: 5px 20px;
	border-radius : 3px;
	font-weight : 500;
    font-size : 14px;
    color: white;
	background-color: rgb(224, 62, 82);
}