@charset "utf-8";
body {
	margin: 0px auto;
}
/* header width */
.hs_ad_mainheader_width{
	width: 100%;	
	
}
/* header box 색상지정 */
.hs_ad_mainheader_box{
	background-color: rgb(53, 54, 58);
	height: 300px;
}
/* 닉네임 / 로그아웃  */
.hs_ad_mainheader_namelogout{
	float: right;
	margin:10px 170px 0px 0px; 
	font-size: 15px;
	/* width: 100%; */
	/* height: 50px; */
}
.hs_ad_mainheader_namelogout a{
	text-decoration: none;
	color: white;
	font-weight: 700;
	margin-left: 10px; 
}
/* 로그 및 관리자모드 */
.hs_ad_mainheader_logo_adminmode{
	width: 80%;
	height : 300px;
	text-align: center; 
	margin: auto;
}
/* 로고 및 관리자모드 a tag */
.hs_ad_mainheader_logo_adminmode a{
	text-decoration: none;
}
/* 로고 및 관리자모드 로고이미지*/
.hs_ad_mainheader_logo_adminmode img{
	/* display: block;
	margin-left: auto;
	margin-right: auto; */
	margin-top: 40px;
}
/* 로고 및 관리자모드 -> 관리자모드 */
.hs_ad_mainheader_logo_adminmode b{
	float : left;
	margin-top : 120px;
	color: rgb(224, 62, 82);
	font-size: 23px;
	font-weight: 800;
}
/* nav 라인 */
.hs_ad_mainheader_line{
	width: 100%;
    height: 1px;
    background-color: rgb(224,224,224);
    margin: 0px 0px 10px;
}
/* nav box */
.hs_ad_mainheader_navbox{
	margin : auto;
	text-align: center;
    width: 88%;
    padding-bottom: 10px;
}
/* nav 카테고리 */
.hs_ad_mainheader_navbox a{
	 text-decoration: none;
      color: rgb(53, 54, 58);
      margin:0px 35px 0px;
      font-weight: 700;
      font-size: 15px;
}
.hs_ad_mainheader_navbox a:hover{
	 text-decoration : none;
}
/*  모바일버전만 적용  */
   @media screen and (max-width:767px){
      body{
         background-color:yellowgreen;
         width: 100%;
         font-size: 0.85em;
      }
   }
/*  모바일버전만 적용  */

/*  태블릿버전만 적용  */
   @media screen and (min-width:768px) and (max-width:1023px){
      body{
         width: 100%;
         background-color:lightblue;
      }
   }
/*  태블릿버전만 적용  */

/*  pc버전만 적용  */
   @media screen and (min-width:1024px){
      body{
           
       /* background-color: lightpink; */
      }
   }
/*  pc버전만 적용  */
/* 사용하는지 알아봐보기 */
   img {
	  max-width: 100%;
	  height: auto;
	  width: auto\9; /* ie8 */
   }

