@charset "utf-8";
/* 전체 DIV */
.hs_senior_calculate_request{
	width: 80%;
	margin: auto;
	margin-top: 30px;
	color: rgb(53, 54, 58);
}
/* 정산신청 제목 */
.hs_senior_calculate_request_title{
	font-weight: 800;
}
/* 정산가능금액 정산대기금액 DIV */
.hs_senior_calculate_possible_wait_box{
	width : 100%;
	margin-top: 20px;
	display: inline-block;
}
/* 정산가능금액 DIV */
.hs_senior_calculate_possiblebox_title{
	font-size: 20px;
	font-weight: 600;
}
/* 정산대기금액 DIV */
.hs_senior_calculate_waitbox_title{
    font-size: 20px;
	font-weight: 600;
}
/* 정산기준 DIV */
.hs_senior_calculate_standardtbox_title{
	font-size: 20px;
	font-weight: 600;
}

/* 계좌수정 모달창 */
   /* 계좌수정버튼 */
.hs_senior_AccountUpdate{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-top : 5px;
	font-weight : 800;
	font-size : 14px;
	color: white;
	background-color: rgba(53, 54, 58, 0.9);
}
  /* 계좌정보수정 제목 x 버튼 박스*/
.hs_senior_AccountModal_HeaderDiv{
	padding: 0px 0px 16px;
}
/* 계좌정보수정 제목*/
.hs_senior_AccountModal_Title{
	font-size: 16px;
}
/* 모달 경고문구 */
.hs_senior_AccountModal_WarningDiv{
	font-size: 10px;
	font-weight : 700;
	text-align: center;
}
/* 모달 하단.. 버튼 */
.hs_senior_AccountModal_FooterDiv{
	text-align: center;
}
/* 계좌실명조회버튼 */
.hs_senior_AccountModal_RealnameCheck{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin : 0px 5px;
	font-weight : 800;
	font-size : 14px;
	color: white;
	background-color: rgba(53, 54, 58, 0.4);
}
/* 정산계좌수정버튼 */
.hs_senior_AccountModal_AccountUpdate{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin : 0px 5px;
	font-weight : 800;
	font-size : 14px;
	color: white;
	background-color: rgb(224, 62, 82);
}
/* 정산신청 모달창 */
   /* 정산신청버튼 */
.hs_senior_CulateRequestBtn{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	font-weight : 700;
	font-size : 14px;
	color: white;
	background-color: rgb(224, 62, 82);
}
   /* 계좌정보수정 제목 x 버튼 박스*/
.hs_senior_CulateRequestModal_HeaderDiv{
	padding: 0px 0px 16px;
}
   /* 정산신청 제목*/
.hs_senior_CulateRequestModal_Title{
	font-size: 18px;
	display: inline-block; 
	float: left;
	margin-bottom: 15px;
}
/* 정산신청 계좌정보 제목 */
.hs_senior_CulateRequestModal_accountdetail{
	font-size: 15px;
}
/* 정산신청 계좌정보 table */
.hs_senior_CulateRequestModal_accountdetail_tr{
	font-size: 13px;
}
.hs_senior_CulateRequestModal_accountdetail_tr th{
	width : 20%;
	background-color : rgba(53, 54, 58, 0.2);
	border-right: 1px solid rgba(53, 54, 58, 0.1);
}
.hs_senior_CulateRequestModal_accountdetail_tr td{
	width : 80%;
}
/* 정산신청 개인사업자 개인정보 */
 /* 사업자신청 */
#hs_sn_cal_calculate_crno_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
#hs_sn_cal_calculate_crno_name_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
 #hs_sn_cal_calculate_bank_name_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	width: 74%;
} 
#hs_sn_cal_calculate_account_name_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
#hs_sn_cal_calculate_account_num_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
#hs_sn_cal_calculate_name_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
#hs_sn_cal_calculate_phone_o{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	width: 74%;
}
/* 개인신청 */
#hs_sn_cal_calculate_bank_name_x{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
#hs_sn_cal_calculate_account_name_x{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
 #hs_sn_cal_calculate_account_num_x{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom: 10px;
	width: 74%;
} 
#hs_sn_cal_calculate_name_x{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	margin-bottom : 10px;
	width: 74%;
}
#hs_sn_cal_calculate_phone_x{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	width: 74%;
}

#hs_senior_CulateRequestModal_calculateguide_detail1>pre{
	font-weight: 600; 
	color: rgba(53, 54, 58, 0.4);
}
#hs_senior_CulateRequestModal_calculateguide_detail2>pre{
	margin: 0px 0px 3px; 
	font-weight: 600; 
	color: rgba(53, 54, 58, 0.6);
}
/* 정산신청 정산가이드 제목 */
.hs_senior_CulateRequestModal_calculateguide{
	font-size: 15px;
}
/* 정산신청하기 버튼 */
.hs_senior_CulateRequestModal_Btn{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	font-weight : 700;
	font-size : 14px;
	color: white;
	background-color: rgb(224, 62, 82);
}
/* 엑세다운로드 DIV  */
.hs_senior_CalculateRequest_ExcelBox{
	margin-top: 20px;
}
/* 엑셀다운로드버튼 */
.hs_senior_CalculateRequest_ExcelBtn{
	border-radius : 3px;
	border: 1px transparent;
	padding: 5px 15px;
	font-weight : 800;
	font-size : 14px;
	color: white;
	background-color: rgb(224, 62, 82);
}
/* 정산신청 리스트 */
.hs_senior_calculate_requestList{
	width: 100%;
	margin-top: 20px;
}
#hs_senior_calculate_requestList_Table th,td{
	text-align: center;
	vertical-align : middle;
	font-size: 14px;
}
#hs_senior_calculate_requestList_Table th{
	background-color: rgba(53, 54, 58, 0.2);
	border-right: 1px solid rgba(53, 54, 58, 0.4);
}
#hs_senior_calculate_requestList_Table>tbody>tr>td{
	border-right: 1px solid rgba(53, 54, 58, 0.4);
}