@charset "utf-8";
.hs_sn_main_asidenav_nav{
	margin-top: 30px;
}
/* nav 카테고리 라인 */
.hs_sn_main_asidenav_line{
	width: 100%;
    height: 1px;
    background-color: rgba(53, 54, 58, 0.2);
    margin: 15px 0px 15px;
}
/* nav 카테고리 소제목  */
.hs_sn_main_asidenav_nav_title{
	margin-left : 45px;
	font-size: 20px;
	color: rgb(53, 54, 58);
}
/* nav 카테고리 소제목내 목록? */
.hs_sn_main_asidenav_nav p{
	margin:10px 0px 0px 60px;
	font-size: 14px;
	text-decoration : none;
}
.hs_sn_main_asidenav_nav a{
    color : rgba(53, 54, 58, 0.3);
    text-decoration : none;
}
.hs_sn_main_asidenav_nav a:link{
    text-decoration : none;
}
.hs_sn_main_asidenav_nav a:hover{
}