@charset "utf-8";
/* 전체 공통적용 */
   body{
	  margin: 0px auto;
   }
  /*  .hs_us_main_header{
      position: fixed;
      top: 0;
      width: 100%;
   } */
   /* header 상단부분 컬리 */
   .hs_us_mainheader_topdiv{
	  background-color: rgb(53, 54, 58);
	  padding: 5px;
	  width: 100%;
      height : 45px;
	  display: inline-block;
   }
   /* header 상단부분 width 비율 100 : 80 */
   .hs_us_mainheader_topdiv_width{
	  margin : auto;
	  width: 80%;
	  font-size: 15px;
	  margin-top: 7px;
   }
   /* header 상단부분 지금당신의취미를 찾아보세요 */
   .hs_us_mainheader_topdiv span{
	  color: white;
	  font-weight: 700;
   }
   /* header 상단부분  장바구니 로그인 회원가입 묶은거*/
   .hs_us_mainheader_topdiv_cartloginsearchbox{
	  float: right;
   }
   /* header 상단부분  로그인 회원가입 a tag */
   .hs_us_mainheader_topdiv_cartloginsearchbox a{
	  text-decoration: none;
	  color: white;
	  font-weight: 700;
	  margin-left: 10px; 
   }
   /* header 중간 로고 시니어 지원 a tag */
   .hs_us_mainheader_centerLogo{
      text-decoration: none;	
   }
   /* header 중간 시니어지원 button */
   .draw-border {
      box-shadow: inset 0 0 0 4px rgb(53, 54, 58);
      color: rgb(53, 54, 58);
      transition: color 0.25s 0.08333s;
      position: relative;
      top: 48px;
   }

   .draw-border::before, .draw-border::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0;
  }

  .draw-border::before {
      border-bottom-width: 4px;
      border-left-width: 4px;
  }

  .draw-border::after {
      border-top-width: 4px;
      border-right-width: 4px;
  }

  .draw-border:hover {
      color: rgb(224, 62, 82);
  }

  .draw-border:hover::before, .draw-border:hover::after {
      border-color: rgb(224, 62, 82);
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%;
  }

  .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s;
  }

  .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s;
  }

  .btn {
      background: none;
      border: none;
      cursor: pointer;
      line-height: 1.5;
      font: 700 1.5rem 'Roboto Slab', sans-serif;
      padding: 15px 30px;
      letter-spacing: 0.05rem;
  }

  .btn:focus {
      outline: 2px dotted #55d7dc;
  }
   /* header 중간 시니어지원 button */  
/* header 중간  장바구니 */   
/*    .hs_us_mainheader_cart{
       width: 80px; 
       height: 80px; 
	   border: 2px solid rgb(53, 54, 58);
	   border-radius: 50%;
	   position: relative;
	   top: 20px;
	   float: right;
	}
   .hs_us_mainheader_cart a{
       text-decoration: none;
      
   }
   .hs_us_mainheader_cart a i{
       color: rgb(53, 54, 58);
       font-size: 40px;
       position: relative;
       top: 17px;
       right: 20px;
   } */
/* 장바구니  */   
   /* header nav 라인 */
   .hs_us_mainheader_line{
      width: 100%;
      height: 1px;
      background-color: rgb(224,224,224);
      margin: 10px 0px;
   }
   /* header nav box */ 
 
   .hs_us_mainheader_navbox{  
      text-align: center;
      width: 100%;
   }
   /* header nav category */
   .hs_us_mainheader_navbox nav a{
      text-decoration: none;
      color: rgb(53, 54, 58);
      margin:0px 30px 0px;
      font-weight: 700;
      font-size: 15px;
   }
   .hs_us_mainheader_navbox nav a:hover {
	  color: rgb(224, 62, 82);
   }
/* 전체 공통적용 */

/* 로그인 modal  */


/* 로그인 modal  */

/*  모바일버전만 적용  */
   @media screen and (max-width:767px){
      body{
         background-color:yellowgreen;
         width: 100%;
         font-size: 0.85em;
      }
   }
/*  모바일버전만 적용  */

/*  태블릿버전만 적용  */
   @media screen and (min-width:768px) and (max-width:1023px){
      body{
         width: 100%;
         background-color:lightblue;
      }
   }
/*  태블릿버전만 적용  */

/*  pc버전만 적용  */
   @media screen and (min-width:1024px){
      body{
           
       /* background-color: lightpink; */
      }
   }
/*  pc버전만 적용  */
/* 사용하는지 알아봐보기 */
   img {
	  max-width: 100%;
	  height: auto;
	  width: auto\9; /* ie8 */
   }
   
