@charset "utf-8";
/* Main Bunner 슬라이더(자동 좌우적용) */
body{
	margin : opx auto;
	padding: 0; 
} 

.hs_us_home_mainBanner{
	width:100%;
	margin-top: -10px;
	height: 400px;
}

.hs_us_home_mainBannerbox{
	position:relative;
	overflow: hidden;
	height: 400px;
	width: 100%;
	background-color: pink
}
.hs_us_home_mainBannerslide{
	width:100%; /* 이미지 크기 * 이미지 개수 + 여유 */
	display: inline; 
    /* position:absolute;  이거 풀면 이미지 넘어가면서 배경색 같이나옴 */
}

.hs_us_home_mainBannerslide>a>img{
	width:100%;
	height : 400px;
	position: absolute;
	transition: all 2s;
}  
/* Main Bunner 슬라이더(자동 좌우적용) */
