@charset "utf-8";
.hs_us_mypage_box{
	width: 90%;
	margin : auto;
	margin-top: 40px;
}
.hs_us_mypage_img{
	width:100px;
	height:100px;
}
.hs_us_mypage_imgbox{
	width : 120px;
	height : 120px;
	background-color: #ffd1dc;
	border-radius: 50%;
	display: inline-block;
}
.hs_us_mypage_nickbox{
	display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 20px;
}
.hs_us_mypage_nick{
	font-size: 22px;
}
.hs_us_mypage_myLevelLessonPoint_title{
	font-size: 13px;
	font-weight : 900;
	color: rgba(53, 54, 58, 0.5);
}
.hs_us_mypage_myLevelLessonPoint_content{
	font-size: 18px;
	font-weight : 900;
	color: rgb(53, 54, 58);
}	
/* 마이페이지 nav */
.hs_us_mypage_nav ul{
	padding: 0px 0px 0px 13px;
	margin: 45px 0px 45px 0px;
	background-color: rgb(53, 54, 58);
} 
.hs_us_mypage_nav ul li{
	display: inline-block;
	padding: 20px 10px;
	
}
.hs_us_mypage_nav a{
	text-decoration: none;
    font-size : 14px;
    font-weight: 600;
    color : #757575;
} 
.hs_us_mypage_mymanage>a{
	color: white;
}