@charset "UTF-8";

#jy_container{
	margin : 0px auto;
	padding-top:20px;
	width:80%;
}

h1{
	text-align: center;
	margin: 30px auto;
}

h2{
	text-align: center;
	margin: 30px auto;	
}

hr{
	
	margin: 15px 0px;
}

li{
	margin: 10px 0px;
	list-style: none;
}

b{
	font-size: 20px;
	text-align: left;
}

.jy_text{
	float : right;
	text-align: right;
	font-size: 15px;
}

.summer{
	margin: 0px auto;
}

.ej_btn{
	border: 1px transparent;
padding: 5px 15px; 
/* border-radius : 3px; */
background-color: rgb(224, 62, 82);
height:40px;
font-weight : 600;
font-size : 14px;
color: white;

}

.bt{
	margin: 20px;
}



ul{
	padding: 0px;
}


a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}