@charset "utf-8";

.my_lesson_line{
	width: 100%;
    height: 1px;
    background-color: rgb(224, 224, 224);
    margin: 20px 0px;
}
.lesson_div{
	margin : 20px 0px;
	width : 100%;
	height : 300px;
	display: inline-block;
}



.lessonimg{
	width : 25%;
	float: left;
	margin-left:100px;
}
.lessonimg>img{
	width: 100%;
	height: 180px;
}
.lesson_group{
	font-weight: bold;
	
}

.lesson-head{
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}

.lesson_text{
	width: 65%;
	float: right;
	list-style: none;
	
	
} 


.ej_btn{
	border: 1px transparent;
padding: 5px 15px; 
/* border-radius : 3px; */
background-color: rgb(224, 62, 82);
height:40px;
font-weight : 600;
font-size : 14px;
color: white;
margin: 0px auto;

}

#l_pro{
	margin: 15px 0px;
}

