@charset "utf-8";
/* .ej_top.middle{
	padding-left:80px;
} */
/* .item.a.h4:hover{
	text-decoration: none;
	color:black;
} */
.modal{
	z-index:15000;
}
.jy_left{
	float:left;
}
.jy_right{
	float:right;
	margin-right:50px;
}
#lesson_qa_reply_title{
	float:left;
}
#lesson_qa_reply_content{
	width:100%;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#commentListForm
{
	/* float:left; */
	display:block;
}
/* #accordian{
	float:left;
}
#accordian.ul{
	margin-left:0px;
	padding-left:0px;
} */

/*  */
.ej_font.bold{
	font-weight:bolder;
}
.ej_top.font{
	font-weight:bold;
	display:inline-block;
	color:rgb(53, 54, 58);
/* 	padding-right:70px; */
	width:120px;
}
.ej_top.font.middle{
	padding-left:20px;
}
.ej_top.font.middle.logintxt{
	color:rgb(224, 62, 82);
	 font-weight: bold;
	}
#ej_point_box{
	background-color: rgb(255,178,102);
	border:1px solid silver;
	border-radius: 10px;
	width:50px;
	padding:0px;
	display:inline-block;
	color:white;
	font-weight: bold;
	
}
.ej_line.top_right{
	marginr-top:5px;
	border-bottom: 1px solid silver;
	
}
#ej_line_narrow{
	width:15%;
	border-bottom: 4px solid rgb(224, 62, 82);
	margin-bottom: 30px;
}
.ej_box{
	
}
.ej_left{
	text-align: left;
}
/* 후기 제목입력란 */
div.ej_left{
		margin:0 auto;
}
#openReplyFormbtn{
	margin-left:70%;
}
section.replyForm{
	display:block;
	margin:0px auto;
}
/* 후기작성란 */
.input_area{
/* 	width:80%; */
	/* margin-left:0px;
	margin-right:300px;
	float:left; */
/* 	margin: 0px auto; */
display:block;
/*  float:inherit;  */
margin-right:20%; 
margin-bottom: 20px;
}
.note-editor {
/*  float:left;
margin-right:100px;  */
margin: 0 auto;} 
#ej_container{
width: 80%;
margin: auto;
margin-top: 40px;
color: rgb(53, 54, 58);
}

#ej_container_content{
	text-align: center;
	margin:auto;
	
}
/* 버튼  */
.ej_btn{
	border: 1px transparent;
padding: 5px 15px; 
/* border-radius : 3px; */
background-color: rgb(224, 62, 82);
height:40px;
font-weight : 600;
font-size : 14px;
color: white;
}
.ej_btn.buy{
	width:120px;
}
/* 슬라이더/ */

#ej_sdetail_topimg{
width:550px;
}
.ej_top{
	display:inline-block;
}
.ej_top.right{
/* border: 1px solid silver; */
 width:40%; 
float:right;
background-color: white;
/* margin-left: 30px;
margin-top: 110px; */
padding:30px 10px;
margin-right:200px;
}

.ej_grid{
display:inline-block;
}
/* 좋아요 아이콘 	 */
div.fas.fa-heart{
	color:rgb(255, 180, 180);
	font-size:20px;
	line-height:40px;
	text-align:center;
	height:40px;
	width:120px;
	border:1px solid  gray;
/* 	border-radius:5px; */
	display:block;
	transition:all .5s ease-in-out
	}
	/* 좋아요 hover시 색바뀜 */
.fas.fa-heart:hover{
	color:rgb(224, 62, 82);
	border-color:rgb(224, 62, 82);
	}
	
	/* 장바구니 아이콘 	 */
div.fa.fa-shopping-cart{
	color:rgb(166, 166, 166);
	font-size:20px;
	line-height:40px;
	text-align:center;
	height:40px;
	width:120px;
	border:1px solid gray;
	/* border-radius:5px; */
	display:block;
	transition:all .5s ease-in-out
	}
	/* 장바구니아이콘 hover시 색바뀜 */
.fa.fa-shopping-cart:hover{
	color:rgb(53, 54, 58);
	border-color:rgb(53, 54, 58);
	}

 #ej_sdetail_top{
border: 1px solid silver;
width:400px;

} 
#ej_sdetail_top{
border: 1px solid silver;
}

#ej_top{
border: 1px solid silver;

}
h4.beforecost{
text-decoration: line-through;}
#ej_cost{
display: inline-block;}
/*  */


@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid rgb(224, 62, 82);
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {/* 
  background: #ffffff; */
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: rgb(224, 62, 82);
  font-weight: bolder;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
 /*  border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* -webkit-transform: perspective(5px) rotateX(2deg); */
  -webkit-transform-origin: bottom;
/*   -moz-transform: perspective(5px) rotateX(2deg); */
  -moz-transform-origin: bottom;
  /* transform: perspective(5px) rotateX(2deg); */
  transform-origin: bottom; 
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
/*   background: #fffbfd; */
}
/

/*  */

#lesson_info_title{
	text-align: left;
	line-height: 50px;
}


#lt{
	
	margin-top : 0px;
}

#lesson_thumb{
	padding :  30px 10px;
}

li>h5{
	text-align:left;
	padding-bottom: 20px; 
}

.ico_ar{
	float : right;
}

ul>li>.summer{
	float: left;
}

.date {
	float: right;
}


.lesson_qa_answer_content{
width: 90%;	
}

ul{
	padding: 0px;
}


.ans{
	padding: 0px;
}

.ans>.ej_btn{
	margin-left: 10px;
}

.ej_btn2{
	border: 1px transparent;
padding: 5px 15px; 
/* border-radius : 3px; */
background-color: #6c757d ;
height:40px;
font-weight : 600;
font-size : 14px;
color: white;

}

h4{
	margin: 0px;
	padding: 0px;
}