@charset "utf-8";
.findidmain{
	width: 30%;
	margin:60px auto;
	color: rgb(53, 54, 58);
	
	
}
.findidmain h2{
	margin-bottom:60px;
	
}
.findidbtn{
	
	border: 1px transparent;
	padding: 7px 20px;
	border-radius: 3px;
	background-color: rgba(53, 54, 58, 0.6);
	font-weight: 600;
	font-size: 14px;
	color: white;
	}
.findidbtn2{
	border: 1px transparent;
	padding: 7px 20px;
	border-radius: 3px;
	background-color: rgb(224, 62, 82);
	font-weight: 600;
	font-size: 14px;
	color: white;
	
}