#yi_container{	
	width: 70%;
margin: auto;
margin-top: 40px;
color: rgb(53, 54, 58);
	
	
}
h3{
	font-weight:600;
}
h4{
	font-weight:600;
}

.detailline{
    width: 100%;
    height: 1px;
    background-color: rgb(53, 54, 58);
    margin-top:20px;
    margin-bottom:20px;
}

.detail_info{
	font-size:20px;
	font-weight:600;
	
}
.order_thumb{
	

	
}
.myproduct{
	font-weight:600;
}
.ordercost{
	
	font-weight:600;
	font-size: 25px;
}

.goback-btn{
		border: 1px transparent;
padding: 5px 15px;
border-radius : 3px;
background-color: rgb(224, 62, 82);
background-color: rgba(53, 54, 58 , 0.5 );
font-weight : 600;
font-size : 14px;
color: white;

}

.goback-btn:hover{
	
	border: 1px transparent;
padding: 5px 15px;
border-radius : 3px;
background-color: rgb(224, 62, 82);
background-color: rgba(53, 54, 58 , 0.9 );
font-weight : 600;
font-size : 14px;
color: white;
	
}

.ordercancel-btn{
	
		border: 1px transparent;
padding: 5px 15px;
border-radius : 3px;
background-color: rgb(224, 62, 82);
font-weight : 600;
font-size : 14px;
color: white;

}

.ordercancel-btn:hover{
	
		border: 1px transparent;
padding: 5px 15px;
border-radius : 3px;
background-color: rgb(224, 62, 82, 0.8);
font-weight : 600;
font-size : 14px;
color: white;

}