<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.Admin_HS_Calculate_Mapper">
    <parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
    <!-- 쿼리문이랑 같은 이름설정--> 
	<resultMap type="com.todaylesson.DTO.SQLjoin_Member_Senior_Lesson_OrderList_OrderDetail_CalculateDTO" id="salesCalculateMap">
	   <!-- MemberDTO -->
	   <result property="member_id" column="member_id"/>
	   <result property="member_no" column="member_no"/>
	   <result property="member_name" column="member_name"/>
	   <result property="member_point" column="member_point"/>
	   <result property="member_level" column="member_level"/>
	   <result property="member_nick" column="member_nick"/>
	   <!-- MemberDTO -->
	   <!-- SeniorDTO -->
	   <result property="senior_no" column="senior_no"/>
	   <result property="senior_email" column="senior_email"/>
	   <result property="senior_phone" column="senior_phone"/>
	   <result property="senior_crno" column="senior_crno"/>
	   <result property="senior_nick" column="senior_nick"/>
	   <result property="senior_bank_name" column="senior_bank_name"/>
	   <result property="senior_account_name" column="senior_account_name"/>
	   <result property="senior_account_num" column="senior_account_num"/>
	   <result property="senior_register_date" column="senior_register_date"/>
	   <result property="senior_crno_name" column="senior_crno_name"/>
	   <!-- SeniorDTO -->
	   <!-- LessonDTO -->
	   <result property="lesson_no" column="lesson_no"/>
	   <result property="lesson_title" column="lesson_title"/>
	   <result property="lesson_cost" column="lesson_cost"/>
	   <result property="lesson_category" column="lesson_category"/>
	   <result property="lesson_register_date" column="lesson_register_date"/>
	   <result property="lesson_open_period" column="lesson_open_period"/>
	   <result property="lesson_close_period" column="lesson_close_period"/>
	   <result property="lesson_number" column="lesson_number"/>
	   <result property="lesson_type" column="lesson_type"/>
	   <result property="lesson_result" column="lesson_result"/>
	   <!-- LessonDTO --> 
	   <!-- OrderListDTO -->
	   <result property="orderlist_no" column="lesson_type"/>
	   <result property="product_no" column="product_no"/> 
	   <result property="orderlist_date" column="orderlist_date"/> 
	   <result property="orderlist_orderstatus" column="orderlist_orderstatus"/> 
	   <result property="orderlist_paystatus" column="orderlist_paystatus"/> 
	   <result property="orderlist_cost" column="orderlist_cost"/> 
	   <result property="orderlist_calculatestatus" column="orderlist_calculatestatus"/> 
	   <result property="orderlist_usepoint" column="orderlist_usepoint"/>
	   <!-- OrderListDTO -->
	   <!-- OrderDetailDTO -->
	   <result property="order_detail_no" column="order_detail_no"/> 
	   <!-- OrderDetailDTO -->
	   <!-- CalculateDTO -->
	   <result property="calculate_no" column="calculate_no"/> 
	   <result property="calculate_date" column="calculate_date"/> 
	   <result property="calculate_bank_name" column="calculate_bank_name"/>
	   <result property="calculate_account_name" column="calculate_account_name"/>
	   <result property="calculate_account_num" column="calculate_account_num"/>
	   <result property="calculate_crno" column="calculate_crno"/>
	   <result property="calculate_crno_name" column="calculate_crno_name"/>
	   <result property="calculate_name" column="calculate_name"/>
	   <result property="calculate_phone" column="calculate_phone"/>
	   <!-- CalculateDTO --> 
	   <!-- 정산신청 정산수수료,세금계산서부가세 DTO에만 추가 -->
	   <result property="orderdate_count" column="orderdate_count"/>
	   <result property="calculate_cost_nosurtax" column="calculate_cost_nosurtax"/>
	   <result property="calculate_cost_surtax" column="calculate_cost_surtax"/>
	   <result property="calculate_comm" column="calculate_comm"/>
	   <result property="calculate_surtax" column="calculate_surtax"/>
	   <!-- 정산신청 정산수수료,세금계산서부가세 DTO에만 추가 -->
	</resultMap>  
	
	<!-- 정산신청 리스트 정산번호 / 정산상태 / 정산신청일 / 정산기간 -->
	<select id="calculateRequsetList" resultMap="salesCalculateMap">
       select l.lesson_no,c.calculate_no, o.orderlist_calculatestatus, c.calculate_date, o.member_id,
	          o.orderlist_date, o.orderlist_orderstatus,s.senior_nick
       from calculate c right join lesson l  on c.lesson_no=l.lesson_no   
                          join order_detail od on l.lesson_no =od.lesson_no 
                          join orderlist o on od.orderlist_no=o.orderlist_no
                          join senior s on l.senior_no=s.senior_no
       where o.orderlist_calculatestatus=3 or o.orderlist_calculatestatus=4
	   group by o.orderlist_calculatestatus,o.orderlist_date, l.lesson_no
       order by orderlist_date desc
       
	</select>

	<!-- 정산신청 리스트 레스수익금액 -->
	<select id="calRevenueCost" resultMap="salesCalculateMap">
       select sum(orderlist_cost) as orderlist_cost 
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
                        join member m on m.member_id=o.member_id
       where o.orderlist_calculatestatus=3 or o.orderlist_calculatestatus=4
       group by o.orderlist_calculatestatus,o.orderlist_date, l.lesson_no
       order by orderlist_date desc
	</select>
	
	<!-- 정산신청 리스트 포인트사용 -->
	<select id="calUsePointSum" resultMap="salesCalculateMap">
	   select sum(orderlist_usepoint) as orderlist_usepoint
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
                        join member m on m.member_id=o.member_id
       where o.orderlist_calculatestatus=3 or o.orderlist_calculatestatus=4
       group by o.orderlist_calculatestatus,o.orderlist_date, l.lesson_no
       order by orderlist_date desc
	</select>
	
	<!-- 정산신청 정산금액 정산수수료 세금계산서 및 부가세 -->
	<select id="cal_CommSurtax" resultMap="salesCalculateMap">
       select floor(sum(orderlist_cost-(orderlist_usepoint+(orderlist_cost*0.1)))) as calculate_cost_nosurtax
	        , floor(sum(orderlist_cost-(orderlist_usepoint+(orderlist_cost*0.1)+((orderlist_cost/1.1)*0.1)))) as calculate_cost_surtax
	        , floor(sum(orderlist_cost*0.1)) as calculate_comm
	        , floor(sum((orderlist_cost/1.1)*0.1)) as calculate_surtax
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
                        join member m on m.member_id=o.member_id
       where o.orderlist_calculatestatus=3 or o.orderlist_calculatestatus=4
       group by o.orderlist_calculatestatus,o.orderlist_date, l.lesson_no
       order by orderlist_date desc
	</select>
	
	<select id="cal_SeniorInfo" resultMap="salesCalculateMap">
       select calculate_date, calculate_bank_name, calculate_account_name, calculate_account_num, calculate_crno, calculate_no
       from calculate c right join lesson l  on c.lesson_no=l.lesson_no  
       group by l.lesson_no
       union
       select calculate_date, calculate_bank_name, calculate_account_name, calculate_account_num, calculate_crno, calculate_no
       from calculate c left join lesson l  on c.lesson_no=l.lesson_no  
       group by l.lesson_no
       order by calculate_date desc
	</select>
	<update id="admin_Calculate_Give" parameterType="com.todaylesson.DTO.OrderListDTO">
	   update orderlist
	   set
	   orderlist_calculatestatus=3
	   where orderlist_calculatestatus=4
	</update>
	

	




   


</mapper>



