<?xml version="1.0" encoding="UTF-8"?>  <!-- 해당하는 xml을 mybatis와 관련된 규칙으로 한다. -->
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.bitcamp.mapper.EJ_US_ProductMapper">



<select id="allData" resultType="com.bitcamp.dto.ProductDTO">
select *
from product
</select>


<!-- 게시판 insert -->
<insert id="insertBoard" parameterType="com.bitcamp.dto.ProductDTO">
INSERT INTO product (product_name, product_cost, product_stock, product_content, product_img, product_thumb)
				VALUES (#{product_name},#{product_cost},#{product_stock},#{product_content},#{product_img},#{product_thumb})
</insert>


<select id="selectBoard" parameterType="int" resultType="com.bitcamp.dto.ProductDTO">
select *
from product
where product_no=#{product_no}
</select>


</mapper> 