<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.User_HM_QuestionMapper">
<select id="hm_question_list" parameterType="String" resultType="com.todaylesson.DTO.Question_1_1DTO">
select question_group,question_title,question_situation,question_writedate
from question_1_1
where member_id = #{member_id}
</select> 


<insert id="questioninsert" parameterType="HashMap">
insert into question_1_1(question_group,question_title,question_content,question_writedate,member_id)
values(#{question_group},#{question_title},#{question_content}, NOW() ,#{member_id})
</insert>

</mapper>