<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.JY_Admin_LessonMapper">

<select id="all_lesson" resultType="com.todaylesson.DTO.AllLessonDTO">

select * 
from lesson l join senior s
on l.senior_no = s.senior_no

<include refid="search_select"></include>
       <if test='start_date!="" and start_date!=null'>	
	      and l.lesson_open_period<![CDATA[>=]]>#{start_date}
	   </if>
	   <if test='end_date!="" and end_date!=null'>	
	      and l.lesson_open_period<![CDATA[<=]]>#{end_date}
	   </if>
<if test="order == 'lesson_register_date'">
order by ${order} desc
</if>
<if test="order != 'lesson_register_date'">
order by ${order} asc
</if>

limit   #{startrow}, 15


</select>


<select id="select_lesson" resultType="com.todaylesson.DTO.AllLessonDTO" parameterType="int">

select *
from lesson join senior
on lesson.senior_no = senior.senior_no
where lesson_no = #{lesson_no}

</select>

<select id="select_lesson_list" resultType="com.todaylesson.DTO.LessonDTO" parameterType="int">

select lesson_no, lesson_title, lesson_category, lesson_type, lesson_result
from lesson
where senior_no = #{senior_no}

</select>


<update id="apply_lesson_result" parameterType="int" >

update lesson
set lesson_result = 1
where lesson_no in

<foreach item='item' collection='list' index='index' open='(' separator=',' close= ')' >
#{item}
</foreach>

</update>


<update id="lesson_approve" parameterType="int">

update lesson 
set lesson_result = 2
where lesson_no = #{lesson_no}

</update>

<update id="lesson_reject" parameterType="int">

update lesson 
set lesson_result = 3
where lesson_no = #{lesson_no}

</update>


<select id="wait_lesson" resultType="com.todaylesson.DTO.AllLessonDTO">

select * 
from lesson join senior 
on lesson.senior_no = senior.senior_no 
where lesson_result= 1
<if test="order = 'lesson_register_date'">
order by ${order} desc
</if>
<if test="order != 'lesson_register_date'">
order by ${order} asc
</if>

</select>


<select id="apply_lesson" resultType="com.todaylesson.DTO.AllLessonDTO">

select * 
from lesson join senior 
on lesson.senior_no = senior.senior_no 
where lesson_result= 0

</select>


<select id="get_senior_no" resultType="int">

select senior_no 
from lesson
where lesson_no = #{lesson_no}

</select>


<select id="get_senior_info" resultType="com.todaylesson.DTO.SeniorDTO">

select * from senior
where senior_no = #{senior_no}

</select>



<select id="getCount" resultType="int" parameterType="java.util.HashMap">
		select COUNT(*) 
		from lesson l join senior s
		on l.senior_no = s.senior_no
		<!-- WHERE절을 include 태그로 삽입 -->
<include refid="search_select"></include>
       <if test='start_date!="" and start_date!=null'>	
	      and l.lesson_open_period<![CDATA[>=]]>#{start_date}
	   </if>
	   <if test='end_date!="" and end_date!=null'>	
	      and l.lesson_open_period<![CDATA[<=]]>#{end_date}
	   </if>

</select>


	<!-- 검색기능 쿼리문 -->
<sql id="search_select">
<where>
<if test='searchtxt!=null and searchtxt!=""'>

<choose>
<when test='search.equals("all")'>
lesson_title like CONCAT('%', #{searchtxt}, '%')
or 
member_id like CONCAT('%', #{searchtxt}, '%')

</when>
<when test='search.equals("member_id")'>

 member_id like CONCAT('%', #{searchtxt}, '%')
</when>
<when test='search.equals("lesson_title")'>

lesson_title like CONCAT('%', #{searchtxt}, '%')
</when>

</choose>
</if>
</where>
</sql> 



</mapper>