<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.JY_SN_LessonMapper">


<select id="list_lesson" resultType="com.todaylesson.DTO.LessonDTO" parameterType="int">

select * from lesson 
where senior_no = #{senior_no}

</select>


<!-- 현재 실험 때문에 lesson썸넬 뺐음 -->

<insert id="insert_lesson" parameterType="com.todaylesson.DTO.LessonDTO">

insert into lesson(lesson_title, lesson_content,lesson_cost, 
lesson_member_max,lesson_category,  
lesson_register_date,lesson_open_period, lesson_close_period, lesson_number, 
lesson_type, lesson_result, lesson_readno, lesson_junior_count,
lesson_senior_title, lesson_senior_content, 
lesson_zipno, lesson_addr, lesson_lat, lesson_long, lesson_time,senior_no)

values(#{lesson_title},#{lesson_content},#{lesson_cost},
#{lesson_member_max},#{lesson_category},
sysdate(),#{lesson_open_period},#{lesson_close_period},#{lesson_number},
#{lesson_type},0,0,0,
#{lesson_senior_title},#{lesson_senior_content},
#{lesson_zipno},#{lesson_addr},#{lesson_lat},#{lesson_long},#{lesson_time},#{senior_no})

</insert>

<select id="select_senior_no" parameterType="java.lang.String" resultType="int">

select senior_no 
from senior
where member_id=#{member_id}

</select>

<select id="detail_lesson" parameterType="int" resultType="com.todaylesson.DTO.LessonDTO">

select * from lesson where lesson_no = #{lesson_no}

</select>

<insert id="insert_online_lesson" parameterType="com.todaylesson.DTO.LessonDTO">

insert into lesson(lesson_title, lesson_content,lesson_cost, 
lesson_member_max,lesson_category,  
lesson_register_date,lesson_open_period, lesson_close_period, lesson_number, 
lesson_type, lesson_result, lesson_readno, lesson_junior_count,
lesson_senior_title, lesson_senior_content,senior_no)

values(#{lesson_title},#{lesson_content},#{lesson_cost},
#{lesson_member_max},#{lesson_category},
sysdate(),#{lesson_open_period},#{lesson_close_period},#{lesson_number},
#{lesson_type},0,0,0,
#{lesson_senior_title},#{lesson_senior_content},#{senior_no})

</insert>


<update id="update_lesson" parameterType="com.todaylesson.DTO.LessonDTO">

update lesson
set 
lesson_title = #{lesson_title}, 
lesson_content = #{lesson_content},
lesson_cost = #{lesson_cost}, 
lesson_member_max = #{lesson_member_max},
lesson_category= #{lesson_category},  
lesson_register_date = sysdate(),
lesson_open_period = #{lesson_open_period},
lesson_close_period = #{lesson_close_period}, 
lesson_number = #{lesson_number}, 
lesson_type = #{lesson_type}, 
lesson_junior_count = #{lesson_junior_count},
lesson_senior_title = #{lesson_senior_title}, 
lesson_senior_content = #{lesson_senior_content}
where lesson_no = #{lesson_no}


</update>


<delete id="delete_lesson" parameterType="int">

delete from lesson where lesson_no = #{lesson_no}

</delete>

<select id="reject_lesson_list" parameterType="int" resultType="com.todaylesson.DTO.LessonDTO">

select * from lesson
where lesson_result = 3 and senior_no = #{senior_no}

</select>

</mapper>