<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.JY_US_MyLessonMapper">
<parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
<select id="my_lesson_list" resultType="com.todaylesson.DTO.LessonDTO" parameterType="java.lang.String">

select * from lesson where lesson_no in
(select lesson_no from order_detail d join orderlist l
on d.orderlist_no = l.orderlist_no
where member_id = #{member_id}
)

</select>

<select id="my_lesson_select" resultType="com.todaylesson.DTO.LessonDetailDTO">

select lessondetail_no, lessondetail_title, lessondetail_content, lessondetail_chapter, lessondetail_running_time,
ifnull((select lessondetail_comp 
from lessondetail d join lessoncomp c 
on d.lessondetail_no = c.lessondetail_no 
where c.lessondetail_no = k.lessondetail_no and c.member_id = #{member_id}),0) lessondetail_comp
from lessondetail k
where lesson_no = #{lesson_no}

</select>


<select id="my_lesson_detail_this_chapter" resultType="com.todaylesson.DTO.LessonDetailDTO">

select * from lessondetail where lessondetail_no = #{lessondetail_no}

</select>

<select id="my_lesson_name" resultType="java.lang.String">

select lesson_title from lesson where lesson_no = #{lesson_no}

</select>

<update id="update_lesson_comp" parameterMap="hashmap">

update lessoncomp
set lessondetail_comp = 1,
lessoncomp_date = now()
where lessondetail_no = #{lessondetail_no}
and lesson_no = #{lesson_no}
and member_id = #{member_id}

</update>

<select id="select_my_lesson_comp" parameterMap="hashmap" resultType="integer">

select count(*)
from lessoncomp
where lesson_no = #{lesson_no}
and member_id = #{member_id}
and lessondetail_comp = 1
and lessondetail_no = #{lessondetail_no}


</select>


<select id="i_click_this_lesson_chapter" parameterMap="hashmap" resultType="integer">


select count(lessoncomp_no)
from lessoncomp
where member_id = #{member_id}
and lessondetail_comp = 0
and lessondetail_no = #{lessondetail_no}


</select>


<insert id="click_this_lesson_chapter" >

insert into 
lessoncomp(lessondetail_no, member_id, lessondetail_comp, lesson_no, lessoncomp_date)
value(#{lessondetail_no},#{member_id},0, #{lesson_no},now())

</insert>


<select id="mylesson_procent" parameterMap="hashmap" resultType="float">

select round( count( if(
ifnull((select lessondetail_comp 
from lessondetail d join lessoncomp c 
on d.lessondetail_no = c.lessondetail_no 
where c.lessondetail_no = k.lessondetail_no 
and c.member_id = #{member_id}),0), 1, null) )  / 
(select lesson_number from lesson where lesson_no = #{lesson_no}) * 100, 1) as procent 
from lessondetail k

</select>

<update id="reward_point_to_member" parameterType="java.lang.String">

update member
set member_point = member_point+ 10000
where member_id = #{member_id}

</update>

<update id="already_rewarded_point" parameterMap="hashmap">

update lessoncomp
set lesson_reward = 1
where member_id = #{member_id}
and lesson_no = #{lesson_no}


</update>


<select id="mylesson_reward" resultType="integer">

select count(*)
from lessoncomp
where lesson_no = #{lesson_no}
and member_id = #{member_id}
and lesson_reward = 1

</select>


</mapper>