<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.JY_US_MyLessonMapper">
<parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
<select id="my_lesson_list" resultType="com.todaylesson.DTO.LessonDTO" parameterType="java.lang.String">

select * from lesson where lesson_no in
(select lesson_no from order_detail d join orderlist l
on d.orderlist_no = l.orderlist_no
where member_id = #{member_id}
)

</select>

<select id="mylesson_select" resultType="com.todaylesson.DTO.LessonDetailDTO">

select * from lessondetail where lesson_no = #{lesson_no}

</select>

<insert id="lc_insert">

insert into lessoncomp(lessondetail_no, member_id, lessondetail_comp, lesson_no)
value(#{lessondetail_no}, #{member_id}, 0, #{lesson_no});

</insert>

<select id="my_lesson_detail_this_chapter" resultType="com.todaylesson.DTO.LessonDetailDTO">

select * from lessondetail where lessondetail_no = #{lessondetail_no}

</select>

<select id="my_lesson_name" resultType="java.lang.String">

select lesson_title from lesson where lesson_no = #{lesson_no}

</select>

<update id="update_lesson_comp" parameterMap="hashmap" >

update lessoncomp
set lessondetail_comp = 1
where lessondetail_no = #{lessondetail_no}
and member_id = #{member_id}
and lesson_no = #{lesson_no}

</update>

<select id="select_my_lesson_comp" parameterMap="hashmap" resultType="com.todaylesson.DTO.LessonCompDTO">

select * from lessoncomp 
where lessondetail_no = #{lessondetail_no} 
and lesson_no = #{lesson_no} 
and member_id = #{member_id}

</select>

<select id="mylesson_comp_select" parameterMap="hashmap" resultType="com.todaylesson.DTO.LessonCompDTO">

select * from lessoncomp c left join lessondetail d
where d.lesson_no = #{lesson_no}
and c.member_id = #{member_id}

</select>

</mapper>