<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.Senior_HS_Salescalculate_Mapper">
    <parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
    <!-- 쿼리문이랑 같은 이름설정--> 
	<resultMap type="com.todaylesson.DTO.SQLjoin_Member_Senior_Lesson_OrderList_OrderDetail_Sales_CalculateDTO" id="salesCalculateMap">
	   <result property="senior_no" column="senior_no"/>
	   <result property="member_id" column="member_id"/>
	   <result property="member_no" column="member_no"/>
	   <result property="orderlist_no" column="orderlist_no"/>
	   <result property="orderlist_paystatus" column="orderlist_paystatus"/> <!-- 매출현황 결제상태  (OrderList Table)-->
	   <result property="lesson_type" column="lesson_type"/> <!-- 매출현황 레슨타입 (Lesson Table)  -->
	   <result property="lesson_no" column="lesson_no"/> <!-- 매출현황 레슨번호 (Lesson Table)  -->
	   <result property="lesson_title" column="lesson_title"/> <!-- 매출현황 레슨명 (Lesson Table) -->
	   <result property="orderlist_date" column="orderlist_date"/> <!-- 매출현황 구매일 (OrderList Table) -->
	   <result property="member_name" column="member_name"/> <!-- 매출현황 구매자 (Member Table) -->
	   <result property="lesson_cost" column="lesson_cost"/> <!-- 매출현황 결제금액 (Lesson Table) -->
	   <result property="orderlist_usepoint" column="orderlist_usepoint"/> <!-- 매출현황 포인트사용 (OrderList Table) -->
	   <result property="sales_comm" column="sales_comm"/> <!-- 매출현황 정산수수료  (Sales Table) -->
	   <result property="sales_surtax" column="sales_surtax"/> <!-- 매출현황 세금계산서부가세  (Sales Table) -->
	   <result property="sales_search_startdate" column="sales_search_startdate"/> <!-- 매출현황 기간검색 START  (Sales Table) -->
	   <result property="sales_search_enddate" column="sales_search_enddate"/> <!-- 매출현황 기간검색 END  (Sales Table) -->
	   <result property="calculate_no" column="calculate_no"/> <!-- 정산신청 정산번호 (Calculate Table) -->
	   <result property="calculate_date" column="calculate_date"/> <!-- 정산신청 정산신청일 (Calculate Table) -->
	   <result property="orderlist_calculatestatus" column="orderlist_calculatestatus"/> <!-- 정산신청 정산상태 (Calculate Table) -->
	   <result property="lesson_open_period" column="lesson_open_period"/> <!-- 정산신청 정산기간_시작 (Calculate Table) -->
 	   <result property="lesson_close_period" column="lesson_close_period"/> <!-- 정산신청 정산기간_끝 (Calculate Table) -->
 	   <result property="senior_bank_name" column="senior_bank_name"/> <!-- 정산신청 정산계좌_은행명 (Calculate Table) -->
	   <result property="senior_account_num" column="senior_account_num"/> <!-- 정산신청 정산계좌_계좌번호 (Calculate Table) -->
	   <result property="senior_account_name" column="senior_account_name"/> <!-- 정산신청 정산기간_예금주 (Calculate Table) -->
	   <result property="senior_crno" column="senior_crno"/>
	   <result property="orderlist_cost" column="orderlist_cost"/>
	</resultMap>  
	
	<!-- 매출현황전체리스트 -->
	<select id="SalesList" resultMap="salesCalculateMap" parameterMap="hashmap">
	   select o.orderlist_paystatus, l.lesson_type, l.lesson_no, l.lesson_title, 
	          o.orderlist_date, m.member_name, l.lesson_cost, o.orderlist_usepoint, 
	          floor(sum(lesson_cost*0.1)) as sales_comm, 
	          floor(sum(lesson_cost/1.1)*0.1) as sales_surtax
	   from sales s join orderlist o on s.orderlist_no=o.orderlist_no
	                join order_detail od on od.orderlist_no=o.orderlist_no
	                join member m on m.member_id=o.member_id
	                join lesson l on l.lesson_no=od.lesson_no             
	   where m.member_id=#{member_id}
	   <![CDATA[   
	         and s.sales_search_startdate>=#{sales_search_startdate}
	         and s.sales_search_enddate<=#{sales_search_enddate} 
	         ]]>        
	</select>
	
	<!-- 정산신청 리스트 정산번호 / 정산상태 / 정산신청일 / 정산기간 / 정산계좌 -->
	<select id="cal_RequestList" resultMap="salesCalculateMap" parameterType="java.lang.String">
	   select c.calculate_no, o.orderlist_calculatestatus, c.calculate_date, l.lesson_open_period, l.lesson_close_period,
	          s.senior_bank_name, s.senior_account_num, s.senior_account_name
	   from calculate c join orderlist o on c.orderlist_no=o.orderlist_no
	                    join order_detail od on od.orderlist_no=o.orderlist_no
	                    join lesson l on l.lesson_no=od.lesson_no
                        join member m on m.member_id=o.member_id
                        join senior s on s.member_id=m.member_id
	   where m.member_id=#{member_id}
	   group by o.orderlist_date
       order by orderlist_date desc
	</select>
	
	<!-- 정산신청 리스트 결제건수 -->
	<select id="calPayCount" resultMap="salesCalculateMap" parameterType="java.lang.String">
	   select count(*)
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
                        join member m on m.member_id=o.member_id
	   where m.member_id=#{member_id}
	   group by o.orderlist_date
       order by orderlist_date desc
	</select>
	
	<!-- 정산신청 리스트 레스수익금액 -->
	<select id="calRevenueCost" resultMap="salesCalculateMap" parameterType="java.lang.String">
	   select sum(orderlist_cost) 
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
                        join member m on m.member_id=o.member_id
       where m.member_id=#{member_id}
       group by o.orderlist_date
       order by orderlist_date desc
	</select>
	
	<!-- 정산신청 리스트 포인트사용 -->
	<select id="calUsePointSum" resultMap="salesCalculateMap" parameterType="java.lang.String">
	   select sum(orderlist_usepoint) 
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
                        join member m on m.member_id=o.member_id
       where m.member_id=#{member_id}
       group by o.orderlist_date
       order by orderlist_date desc
	</select>
	
	<!-- 정산신청 계좌정보 디테일(그외 디테일필요할수도있어서 시니어정보 다 가져옴 -->
	<select id="accountDetailDTO" resultType="com.todaylesson.DTO.SeniorDTO" parameterType="java.lang.String">
	   select senior_no, member_id, senior_email, senior_phone, senior_crno, senior_nick,
	          senior_bank_name, senior_account_name, senior_account_num, senior_register_date
	   from senior
	   where member_id=#{member_id}
	</select>
	
	<!-- 정산신청 계좌정보 수정 -->
	<update id="accountUpdateDTO" parameterType="com.todaylesson.DTO.SeniorDTO">
	   update senior
	   set
	   senior_bank_name=#{senior_bank_name}
	  ,senior_account_name=#{senior_account_name}
	  ,senior_account_num=#{senior_account_num}
	   where member_id=#{member_id}
	</update>
	
	<!-- 정산가능금액 -->
<!--     <select id="calculate_PossibilityCost" resultType="int" parameterType="java.lang.String">
       select 
       <choose>
          <when test="senior_crno==null">
             floor(sum(orderlist_cost)-sum(orderlist_cost*0.1)-(sum(orderlist_cost/1.1)*0.1)-sum(orderlist_usepoint))
          </when>
          <when test="senior_crno!=null">
             floor(sum(orderlist_cost)-sum(orderlist_cost*0.1)-sum(orderlist_usepoint))
          </when>
       </choose>
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
    </select> -->
    
    
    <!-- 정산대기금액 -->
	
	<!-- 정산신청 리스트 레스취소금액 -->
	<!-- <select id="calCancelCost" resultMap="salesCalculateMap" parameterType="int">
	   select sum(orderlist_cost) 
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
       where s.senior_no=#{senior_no} and o.orderlist_paystatus=1 1결제취소
       group by o.orderlist_date
       order by orderlist_date desc
	</select> -->
	
	<!-- 정산신청 리스트 포인트취소 -->
	<!-- <select id="calCancelPointSum" resultMap="salesCalculateMap" parameterType="int">
	   select sum(orderlist_usepoint) 
       from orderlist o join order_detail od on od.orderlist_no=o.orderlist_no
                        join lesson l on od.lesson_no=l.lesson_no
                        join senior s on l.senior_no=s.senior_no
       where s.senior_no=#{senior_no} and o.orderlist_paystatus=0 1결제취소
       group by o.orderlist_date
       order by orderlist_date desc
	</select> -->


</mapper>









