<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.TodayLessonMapper">
	<resultMap type="com.todaylesson.DTO.MemberDTO" id="memberMap">
	  <result property="member_id" column="member_id"/> 
	  <result property="member_pwd" column="member_pwd"/> 
	  <result property="member_name" column="member_name"/>
	  <result property="enabled" column="enabled"/>    <!-- 쓸수있는 아이디인지 아닌지... -->
	  <collection property="authList" resultMap="authMap"/> 
	</resultMap>  <!-- 쿼리문이랑 같은 이름 -->
	  <resultMap type="com.todaylesson.DTO.Member_AuthDTO"  id="authMap"> 
	    <result property="member_id" column="member_id"/> 
	    <result property="member_auth" column="member_auth"/> 
	  </resultMap>
    <!-- TEST 회원가입 -->  
	<!-- <insert id="insertMember" parameterType="com.todaylesson.DTO.MemberDTO">
		insert into member(member_no, member_id, member_pwd, member_name, 
		                   member_birth, member_phone, member_addr, member_zipcode, 
		                   member_email, member_nick, member_img)
		                   values(#{member_no}, #{member_id}, #{member_pwd}, #{member_name}, 
		                          #{member_birth}, #{member_phone}, #{member_addr}, #{member_zipcode},
		                          #{member_email}, #{member_nick}, #{member_img})
	</insert> -->
	
	 <!-- 진짜 회원가입 -->
	<insert id="insertMember" parameterType="com.todaylesson.DTO.MemberDTO">
			<selectKey resultType="integer" keyProperty="member_no" order="BEFORE">
		select max(member_no)+1 as member_no
		from member
		</selectKey>
		insert into member(member_no, member_id, member_pwd, member_name, 
		                   member_birth, member_phone, member_addr, member_zipcode, 
		                   member_email, member_nick, member_img, member_join_date, enabled)
		                   values(#{member_no}, #{member_id}, #{member_pwd}, #{member_name}, 
		                          #{member_birth}, #{member_phone}, #{member_addr}, #{member_zipcode},
		                          #{member_email}, #{member_nick}, 'user',now(),1)
	</insert>
	<!-- TEST AUTH --> <!-- 진짜도 동일 -->
	<insert id="insertMemberSub" parameterType="com.todaylesson.DTO.MemberDTO">
		
		<!-- ORACLE용 쿼리 (insert all) -->
        <!-- insert all
		<foreach collection="authList" item="item" separator=" " close="select * from dual">
			into test_auth(
			                userid
			               ,auth)
			values(
			       #{item.userid}
			       ,#{item.auth}
			       )
		</foreach> -->
		
		<!-- mysql용 다중insert -->		
		insert into member_auth(member_id, member_auth)
			   values
		<foreach collection="authList" item="item" separator=", ">
			         (#{item.member_id}
			         , #{item.member_auth})
		</foreach> 
		
	</insert>
    <!-- 시큐리티 나중에 냅둠 위에는 바꿔야함-->
    <select id="getUserById" parameterType="string" resultMap="memberMap">
         select  member.member_id, member_pwd, member_name, enabled ,member_auth
         from member left outer join member_auth 
         on member.member_id=member_auth.member_id
         where member.member_id=#{member_id}
        
    </select>
   
   
    <select id="idCheck" parameterType="String" resultType="Integer">
         select count(*) 
         from member
         where member_id=#{member_id}
    </select>

    <!-- 아이디 찾기 -->
	<select id="searchId" resultType="String" parameterType="HashMap">
		select ifnull(member_id, 0)
		from member
        where member_name = #{member_name} and member_phone = #{member_phone}
	</select>

    <!-- 회원 임시 비밀번호-->
	<update id="searchPassword" parameterType="Map">
		update member
		set member_pwd = #{param3} 
		where member_id = #{param1} and member_email = #{param2}
	</update>

</mapper>









