<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.User_HM_Bird_Mapper">

<select id="bestlesson" resultType="com.todaylesson.DTO.LessonDTO">
select lesson_no,lesson_title,lesson_thumb,lesson_category,senior_nick,lesson_type,lesson_like
from lesson inner join senior 
on lesson.senior_no = senior.senior_no
where lesson_open_period >= DATE_ADD(now(), INTERVAL -7 day) and lesson_earlybird = '1'
order by lesson_readno desc, lesson_no asc
</select>

<select id="newbirdlesson" resultType="com.todaylesson.DTO.LessonDTO">
select lesson_no, lesson_title, lesson_thumb, lesson_category, senior_nick,lesson_like,lesson_type
from lesson inner join senior
on lesson.senior_no = senior.senior_no
where lesson_open_period >= DATE_ADD(now(), INTERVAL -7 day) and lesson_earlybird = '1'
order by lesson_no desc
</select>

</mapper>