<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaylesson.Mapper.Admin_YI_OrderList_Mapper">
<!-- 게시물 카운트  -->
	<select id="getCount" resultType="int" parameterType="java.util.HashMap">
		select COUNT(*) 
		from orderlist join order_detail
		on orderlist.orderlist_no = order_detail.orderlist_no
		<!-- WHERE절을 include 태그로 삽입 -->


</select>

	<select id="orderlist" resultType="com.todaylesson.DTO.SQLjoin_OrderList_Order_detail_MemberDTO" parameterType="java.util.HashMap">
        select *
	from member 
	join (orderlist join 
	(order_detail join <include refid="category_select"></include> )
	on orderlist.orderlist_no=order_detail.orderlist_no)
	on member.member_id=orderlist.member_id
	<include refid="orderlist_search"></include>

	  order by orderlist_date desc
limit   #{startrow}, 15
	</select>
	
	<update id="order_modify" parameterType="java.util.HashMap">
	update orderlist
	set orderlist_orderstatus=#{order_status}
	where orderlist_no=#{orderlist_no}
	</update>
	
	
	<!-- product인지 lesson인지 선택 -->
	<sql id="category_select">
	<choose>
	<when test='category=="1"'>
	product on 
	order_detail.product_no=product.product_no	
	</when>
	<when test='category=="2"'>
	lesson on
	order_detail.lesson_no=lesson.lesson_no
	</when>
	</choose>
	</sql>
	
	<!-- 검색기능 -->
	<sql id="orderlist_search">
	<where>
	<if test='search!=null and search!=""'>
	and orderlist.orderlist_no=#{search}
	</if>
	
	<if test='start_date!="" and start_date!=null'>	
	and orderlist_date<![CDATA[>]]>=#{start_date}
	</if>
	
	<if test='end_date!="" and end_date!=null'>	
	and orderlist_date<![CDATA[<]]>=#{end_date}
	</if>
	
	<if test='orderlist_orderstatus!="0"'>
	<choose>
	<when test='orderlist_orderstatus=="1"'>
	and orderlist_orderstatus=1
	</when>
	
		<when test='orderlist_orderstatus=="2"'>
	and orderlist_orderstatus=2
	</when>
	
		<when test='orderlist_orderstatus=="3"'>
	and orderlist_orderstatus=3
	</when>
	
		<when test='orderlist_orderstatus=="4"'>
	and orderlist_orderstatus=4
	</when>
	
		<when test='orderlist_orderstatus=="5"'>
	and orderlist_orderstatus=5
	</when>
	
		<when test='orderlist_orderstatus=="6"'>
	and orderlist_orderstatus=6
	</when>
	</choose>
	</if>
	</where>
	</sql>

	
</mapper>